@page "/admin"
@model BookStore.Pages.Admin.IndexModel
@{
}

<!Doctype html>
<html>
<head>
    <title>Book Admin</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <p>testing book admin</p>

    <component type="typeof(BookStore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>